.checkout-div-1 {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
}
.checkout-div-2 {
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.1);
  padding: 2.5rem;
  margin-bottom: 4rem;
}
.checkout-modal-td {
  vertical-align: top !important;
}
.text-success-s2 {
  color: #009e7f;
}
.checkout-txt {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  font-weight: bold;
}
.form-control:focus {
  border-color: #009e7f !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 158, 127, 0.3) !important;
}
