/* ReWrite Slick Carousel Class */
.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 2rem;
}
.slick-prev {
  z-index: 100;
}
/* ReWrite Slick Carousel Class */

/* Rewrite Bootstrap class */
.btn-success {
  background-color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-success:hover {
  background-color: #058067 !important;
  border-color: #058067 !important;
}
.btn-outline-success {
  color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-outline-success:hover {
  color: #fff !important;
  background-color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-outline-instagram {
  color: #fb3958 !important;
  border-color: #fb3958 !important;
}
.btn-outline-instagram:hover {
  color: #fff !important;
  background-color: #fb3958 !important;
  border-color: #fb3958 !important;
}
.btn-outline-instagram:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}
.navbar {
  padding: 0.25rem 0rem !important;
}
.list-group-item {
  background-color: transparent !important;
  border: 0 !important;
  font-weight: bold;
}

.list-group-item-action:hover {
  color: #28a745 !important;
}

/* i got the active but still not work */

/* .list-group-item-action:active {
  background-color: yellow !important;
} */

.text-success-s2 {
  color: #009e7f !important;
}
/* Rewrite Bootstrap class */

/* My Own Class */
body {
  font-family: "Lato", sans-serif !important;
}
.footer-title {
  font-size: 1rem;
  font-weight: bold;
}
.horizontal-line {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.table-success {
  background-color: #009e7f !important;
  color: white !important;
}
.table-success th {
  border-color: whitesmoke !important;
}
.main-bg-height {
  height: 100vh;
}
.mini-picture {
  padding: 0.35rem;
  border-radius: 7px;
  border: 2px solid #009e7f;
  margin-top: 1rem;
}
.mini-picture:hover {
  border: 2px solid #3a3a3a;
}
.logo-fx {
  width: 14rem;
}
/* for the first user page */
.vertical-center {
  margin: 0 15rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.vertical-line {
  border-left: 3px solid #009e7f;
  height: 30px;
}
/* My Own Class */

@media (min-width: 1440px) {
  .vertical-center {
    margin: 0 30rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
