/* ReWrite Slick Carousel Class */
.slick-prev::before,
.slick-next::before {
  color: black;
  font-size: 2rem;
}
.slick-prev {
  z-index: 100;
}
/* ReWrite Slick Carousel Class */

/* Toastify class */
.Toastify__toast {
  padding: 12px !important;
}
.Toastify__toast--success {
  background-color: #009e7f !important;
}
/* Toastify class */

/* Rewrite Bootstrap class */
.btn-success {
  background-color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-success:hover {
  background-color: #058067 !important;
  border-color: #058067 !important;
}
.btn-outline-success {
  color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-outline-success:hover {
  color: #fff !important;
  background-color: #009e7f !important;
  border-color: #009e7f !important;
}
.btn-outline-instagram {
  color: #fb3958 !important;
  border-color: #fb3958 !important;
}
.btn-outline-instagram:hover {
  color: #fff !important;
  background-color: #fb3958 !important;
  border-color: #fb3958 !important;
}
.btn-outline-instagram:focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5) !important;
}
.btn-outline-github {
  color: #1a1a1a;
  border-color: #1a1a1a !important;
}
.btn-outline-github:hover {
  color: whitesmoke !important;
  background-color: #1a1a1a;
  border-color: #1a1a1a;
}
.dropdown-toggle::after {
  margin-left: 1em !important;
}
.dropdown-item:active {
  background-color: #cfcfcf !important;
}
.facebook-button {
  width: 100%;
  padding: 0.7rem 0.2rem !important;
  margin-bottom: 0.6rem;
}
.navbar {
  padding: 0.25rem 0rem !important;
}
.list-group-item {
  background-color: transparent !important;
  border: 0 !important;
  font-weight: bold;
}
.list-group-item-action:hover {
  color: #009e7f !important;
}

.list-group-item-action:focus {
  color: #009e7f !important;
}

.list-group button {
  outline: none !important;
}

/* i got the active but still not work */

/* .list-group-item-action:active {
  background-color: yellow !important;
} */

.text-success-s2 {
  color: #009e7f !important;
}
/* Rewrite Bootstrap class */

/* My Own Class */
html {
  height: 100%;
}

body {
  font-family: "Karla", sans-serif !important;
}
.product-showdetail {
  position: relative;
  text-align: center;
  cursor: pointer;
}
/* div = the image */
.product-showdetail:hover .card-img-top {
  opacity: 0.65 !important;
  transition: 0.2s;
}
.product-showdetail:hover h3 {
  visibility: visible;
}
.product-showdetail h3 {
  visibility: hidden;
  -webkit-text-stroke: 0.7px rgba(29, 29, 29, 0.3);
  text-shadow: 2px 2px rgba(29, 29, 29, 0.3);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.footer-title {
  font-size: 1rem;
  font-weight: bold;
}
.horizontal-line {
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}
.table-success {
  background-color: #009e7f !important;
  color: white !important;
}
.table-success th {
  border-color: whitesmoke !important;
}
.trash-cart-btn {
  color: #dc3545 !important;
}
.trash-cart-btn:hover {
  background-color: #dc3545;
  color: whitesmoke !important;
}
.main-bg-height {
  height: 100vh;
}
.mini-picture {
  padding: 0.35rem;
  border-radius: 7px;
  border: 2px solid #009e7f;
  margin-top: 1rem;
}
.mini-picture:hover {
  border: 2px solid #3a3a3a;
}
.logo-fx {
  width: 14rem;
}
.shadow-subtotal-fx {
  box-shadow: 0px 3px 10px 10px rgba(0, 0, 0, 0.2);
}
/* vertical-center = for the first user page */
.vertical-center {
  margin: 0 15rem;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* center table vertically */
td {
  vertical-align: middle !important;
}
.vertical-line {
  border-left: 3px solid #009e7f;
  height: 30px;
}
/* My Own Class */

/* Scroll */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #fff;
  background-image: -webkit-gradient(
    linear,
    40% 0%,
    75% 84%,
    from(#009e7f),
    to(#058057),
    color-stop(0.6, #009e7f)
  );
}

/* Scroll */

@media (min-width: 1440px) {
  .vertical-center {
    margin: 0 30rem;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}
